<section id="statistics">
  <h2>Statistics</h2>
  <div id="statistics-content">
    <canvas id="statistics-chart"></canvas>
  </div>
</section>
<section id="settings">
  <h2>Settings</h2>
  <div id="settings-content">
    <!-- Settings form will be dynamically populated here -->
  </div>
</section>
